#animeContainerrr{
  width: 28em;
color: white;
  padding: 5em;
  font-size: 46px;
  background-image: url(../../assets/images/travel_load.jpg);
}
.Reg_Log_Container{
  position: relative;
    bottom: 12em;
    height: 4em;
    padding: 1em;
    left: 19em;
}
.Reg_Log_button{
  background-color: white;
  width: 7em;
  border-radius: 3em;
  margin-right: 3em;
}

#homeheader{
  position: relative;
    left: 19em;
}
#container1{
  position: relative;
}
