body{
    margin:0;
    font: normal 16px Arial, Helvetica, sand-serif;
  }
  
  #particles-js{
    background:black;
    height:460px;
  }
  
  .about-us{
    color:white;
    background-color: black;
  opacity:0.9;
  height:300px;
  width:900px;
  padding:2em;
  position:absolute;
  top:190px;
  left:170px;
}
  