<div><div id="particles-js">
    <div class="about-us">
	<h1>About Us</h1>
		<h4 class="heading">Bringing the world together through live experiences</h4>
		<h5 class="heading">TrEx is a global platform for live experiences that allows anyone to share, find and 
		attend events that fuel their passions and enrich their lives. From music festivals, marathons, 
		conferences, community rallies, and fundraisers, to gaming competitions and air guitar contests. 
		Our mission is to bring the world together through live experiences.</h5>
    </div>
  </div>
</div>
