@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
@import '~@ngx-share/button/themes/default/default-theme';
body{
  background-color: rgb(236, 236, 236);
  height: 38em;
  overflow-x: hidden;
}
